{% extends 'forum/base.html.twig' %}

{% block body %}
    {% for thread in threads %}
        <a href="{{ path('forum_thread_show', {'slug': thread.slug}) }}">{{ thread }}</a>
    {% endfor %}
{% endblock %}