{% extends 'forum/base.html.twig' %}


{% block body %}
  <h1>{{ 'Register'|trans }}</h1>

    {{ form_start(form) }}

    <button type="submit" class="btn btn-primary">
      <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create'|trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}